<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <form method="POST" action="/ta02/addUser">
          <fieldset>
            <legend>Add User</legend>
             <% if(!userCanBeAdded) { %>
              <span class="message error"><i>That user is already in the list!</i></span>
              <% } %>
              <label for="username">Username:</label>
              <input id="username" type="text" name="username">
              <button type="submit">Add User</button>
            </fieldset>
        </form>
        <br>
        <form method="POST" action="/ta02/removeUser">
          <fieldset>
              <legend>Delete User</legend>
              <% if(!userCanBeRemoved) { %>
              <span class="message error"><i>Sorry, that user cannot be removed. It is not in list.</i></span>
              <% } %>
              <label for="username">Username:</label>
              <input id="username" type="text" name="username">
              <button type="submit">Delete User</button>
            </fieldset>
          </form> 
      </div>
    </div>
    <% if( users.length > 0) { %>
      <div class="container">
        <ul>
          <% for(let user of users){ %>
            <li><%= user %></li>
          <% } %> 
        </ul>
      <% } else { %>
        <h2>No users found!</h2>
      <% }%>
     <div>


</body>

</html>