<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 05</p>
      </div>
    </div>
    <% if (message) { %>
     <h2><%= message %> </h2>
    <% } %>
      <form action="/ta06/signup" method="post">
        <input type="text" name="username" id="username">
        <input type="password" name="password" id="password">
        <input type="submit" value="Sign Up">
      </form>

      <form action="/ta06/loginPost" method="post">
        <input type="text" name="username" id="username">
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">
      </form>
    </div>


</body>

</html>